[user]
  name = Lexes Mantiquilla
  email = mystery32120@gmail.com
[credentials]
  helper = wincred
[credential]
  helper = wincred
[core]
  packedGitLimit = 256m
  packedGitWindowSize = 256m
  longpaths = true
[http]
  postBuffer = 524288000
[pack]
  deltaCacheSize = 256m
  packSizeLimit = 256m
  windowMemory = 1024m
[merge]
  tool = vimdiff
